$main: #00CC00
$light: #39E639
$lightest: #67E667
$dark: #269926
$darkest: #008500
$cool: #009999
$cool-light: #33CCCC
$cool-lightest: #5CCCCC
$cool-dark: #1D7373
$cool-darkest: #006363
$warm: #9FEE00
$warm-light: #B9F73E
$warm-lightest: #C9F76F
$warm-dark: #86B32D
$warm-darkest: #679B00

@mixin button
  background:
    image: none
    color: $warm
    repeat: no-repeat
  color: $warm-dark
  font-size: 150%
  font-weight: bold
  border: 2px solid $warm-lightest

  &:hover:not(.disabled), &.hover:not(.disabled)
    background-color: $cool-light
    border-color: $cool
    color: $cool

  &:active:not(.disabled), &.active:not(.disabled)
    background-color: $lightest
    border-color: $light
    color: $main

  &.disabled, &.disabled
    opacity: .4
    cursor: default


@mixin darkbutton
  @include button
  background-color: $dark
  color: darken($darkest, 10%)
  border-color: $main

  &:hover:not(.disabled), &.hover:not(.disabled)
    background-color: $cool
    border-color: $cool-darkest
    color: darken($cool-darkest, 10%)

  &:active:not(.disabled), &.active:not(.disabled)
    background-color: $cool-darkest
    border-color: $cool
    color: $cool-light

@mixin coolbutton
  @include button
  background-color: $cool-light
  color: $cool
  border-color: $cool

  &:hover:not(.disabled), &.hover:not(.disabled)
    background-color: $cool
    border-color: $cool-darkest
    color: $cool-darkest

  &:active:not(.disabled), &.active:not(.disabled)
    background-color: $cool-lightest
    border-color: $cool
    color: $cool

@mixin warmbutton
  @include button
  background-color: $warm-light
  color: $warm
  border-color: $warm

  &:hover:not(.disabled), &.hover:not(.disabled)
    background-color: $warm
    border-color: $warm-darkest
    color: $warm-darkest

  &:active:not(.disabled), &.active:not(.disabled)
    background-color: $warm-lightest
    border-color: $warm
    color: $warm

$toolbar-width: 150px
$dashboard-height: 150px
$ui-border: 4px
