@import "analyzer/sass/constants"

$pad: 8px
$border: 3px
$circle: $dashboard-height - (2 * $pad)
$joy: .4 * $circle

#dashboard
  text-align: center
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: $main
  height: $dashboard-height
  border-top: $ui-border solid $warm-lightest

  #bounds, #modes
    position: absolute
    bottom: $pad - $border
    top: $pad - $border
    width: $dashboard-height - (2 * $pad)
    height: $dashboard-height - (2 * $pad)
    border: $border solid $darkest
    border-radius: 50%

  #bounds
    left: $pad

    .inner
      position: absolute
      background: rgba(0, 0, 0, .7)
      top: 0
      left: 0
      width: $circle
      height: $circle
      border-radius: 50%

    #joystick
      position: absolute
      left: 50%
      top: 50%
      margin-top: -($joy / 2) - $border
      margin-left: -($joy / 2) - $border
      width: $joy
      height: $joy
      background: #222222
      background-image: url(analyzer/img/thatch.png)
      border: $border solid black
      border-radius: 50%

  #modes
    right: $pad

    .upper, .lower, .middle
      text-align: center
      position: absolute
      @include darkbutton

    $half: $circle / 2
    $third: $circle / 2.5

    .upper, .lower
      width: 100%
      height: 50%
      box-sizing: border-box
      z-index: 4

    .upper
      top: 0
      border-top-left-radius: $half
      border-top-right-radius: $half
      border-bottom-width: 1px
      padding-bottom: 1em

    .lower
      bottom: 0
      border-bottom-left-radius: $half
      border-bottom-right-radius: $half
      border-top-width: 1px
      padding-top: 1em

    .middle
      width: $third
      height: $third
      border-radius: $third/2
      left: 50%
      top: 50%
      z-index: 5
      margin-left: -($third/2)
      margin-top: -($third/2)
      padding: 0
  
  #layers
    width: 286px
    position: absolute
    bottom: 0
    left: 50%
    margin-left: -140px
    padding: 0
    top: $pad

    .list
      overflow: hidden
      height: $circle
      width: 220px
      position: relative
      left: 30px
      border: 3px solid $warm-light
        top: 0
        bottom: 0
        radius: 2em

    .items
      width: 20000em
      position: absolute
      height: $circle

      button
        float: left
        margin: 0
        padding: 0
        width: 200px
        margin-left: 10px
        margin-right: 10px
        margin-top: $circle / 6
        height: $circle * 2 / 3
        line-height: $circle * 2 / 3
        border: 0
        color: $warm-dark
        border-radius: 1em
        box-sizing: border-box
        background: $warm-lightest
        text-decoration: none
        font-size: 150%
        font-weight: bold

    #prevlayer, #nextlayer
      position: absolute
      height: 60px
      margin-top: ($circle / 2) - 30px
      cursor: pointer
      line-height: 60px
      font-weight: bold
      font-size: 200%
      text-align: center
      width: 30px
      background: $warm-light
      color: $warm-darkest

      &:hover:not(.disabled)
        background: $warm-darkest
        color: $warm

      &:active:not(.disabled)
        background: $darkest
        color: $main

      &.disabled
        opacity: .5
        cursor: default
        display: none

    #prevlayer
      left: 0
      border-top-left-radius: 30px
      border-bottom-left-radius: 30px
    #nextlayer
      right: 0
      border-top-right-radius: 30px
      border-bottom-right-radius: 30px
