.wall
  stroke: #8a360f
  stroke-width: 4pt
  z-index: 50

  &:hover
    stroke: #Ca764f

.wall.outer
  stroke: darken(#8a360f, 20%)
  stroke-width: 6pt

  &:hover
    stroke: darken(#Ca764f, 20%)

.wall.disjoint
  stroke: #CC0

  &:hover
    stroke: darken(#CC0, 20%)

.joint
  fill: black
  z-index: 100

  &:hover
    fill: #666
    stroke: #666

.guide
  fill: black
  opacity: .5

path.line.vent
  fill: gray
  stroke: gray
  stroke-width: 6pt
  z-index: 100

  &:hover
    fill: green

path.pointer.vent
  stroke: black
  stroke-width: 3pt

.surreal
  opacity: .5
