@import "analyzer/sass/constants"

$bheight: 40px
$border: 2px
$bwidth: .9 * $toolbar-width
$bradius: 8px
$space: .5em

#toolbar
  position: fixed
  background: $warm
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$warm}', endColorstr='#{$main}')
  background: -webkit-gradient(linear, left top, left bottom, from($warm), to($main))
  background: -moz-linear-gradient(top, $warm, $main)
  border-left: $ui-border solid $warm-lightest
  right: 0
  top: 0
  bottom: $dashboard-height
  width: $toolbar-width
  overflow: auto
  text-align: center
  box-sizing: border-box
  padding-top: 1em

  .options
    width: 100%
    display: block
    margin: .5em auto

    button
      @include darkbutton
      display: inline-block
      font-size: 90%
      margin: 0
      box-sizing: border-box
      border-radius: 0
      border-width: 1px

    #move
      width: ($bwidth / 2) + 1
      margin-right: -2px
      border-top-left-radius: $bradius
      border-top-width: 2px
      border-left-width: 2px

    #delete
      width: ($bwidth / 2)
      margin-left: -1px
      border-top-right-radius: $bradius
      border-top-width: 2px
      border-right-width: 2px

    #wall
      width: ($bwidth / 2) + 1
      margin-right: -2px
      border-left-width: 2px

    #window
      width: $bwidth / 2
      margin-left: -1px
      border-right-width: 2px

    #door
      width: $bwidth / 3
      margin-right: -2px
      border-left-width: 2px
      border-bottom-width: 2px
      border-bottom-left-radius: $bradius

    #vent
      width: $bwidth/3
      margin-left: -1px
      margin-right: -1px
      border-bottom-width: 2px

  #stair
    width: $bwidth/3
    margin-left: -2px
    border-right-width: 2px
    border-bottom-width: 2px
    border-bottom-right-radius: $bradius

  #select-options .buttonset
    width: $bwidth
    margin: .5em auto
    margin-top: 2em

    #cut, #copy, #paste
      width: $bwidth / 3
      margin: 0
      border-left-width: 1px
      border-right-width: 1px
      border-top-width: 2px
      border-bottom-width: 1px

    #cut
      border-left-width: 2px
      border-top-left-radius: $bradius
      margin-right: -2px

    #copy
      margin-left: -1px
      margin-right: -1px

    #paste
      margin-left: -2px
      border-right-width: 2px
      border-top-right-radius: $bradius

    #delete
      width: $bwidth
      border-width: 2px
      border-top-width: 1px
      border-bottom-left-radius: $bradius
      border-bottom-right-radius: $bradius

  #wall-options
    width: $bwidth
    margin: .5em auto
    margin-top: 2em

    #split, #merge
      margin: 0

    #split
      width: $bwidth / 2 + 1
      margin-right: -2px
      border-width: 2px
      border-right-width: 1px
      border-top-left-radius: $bradius
      border-bottom-left-radius: $bradius

    #merge
      width: $bwidth / 2
      margin-left: -1px
      border-width: 2px
      border-left-width: 1px
      border-top-right-radius: $bradius
      border-bottom-right-radius: $bradius

  ul
    display: none
