.properties
  margin-bottom: 2em
  overflow: auto

.section
  margin-top: 1em
  margin-bottom: 1em
  margin-bottom: 1em
  border-top: 2px groove hsla(0, 50%, 0, .2)

  &:last-of-type
    border-bottom: 2px groove hsla(0, 50%, 0, .2)

  h3
    float: left
    margin-left: 2em

tr.labels td
  text-align: center
  font-size: 80%
  font-weight: bold
  opacity: .5

table.formset td
  vertical-align: middle

td.delete
  text-align: center

  input
    margin-bottom: 1em

td.width, td.height
  text-align: center
  padding-left: 1em
  padding-right: 1em
  padding-top: 1em

td.width input, td.height input
  width: 3em
  clear: left
  padding: 0
  font-size: 80%
  font-weight: bold
  text-align: center

span.unit
  font-size: 80%
  font-weight: bold
  display: inline-block
  margin-left: .3em

.curtain-wall label
  display: block
  margin-top: -1em

.ui-slider
  background-color: #ccc
  border: 1px solid #aaa
  width: 10em
  float: left

  &.ui-disabled
    background-color: darken(#ccc, 20%)
    border: 1px solid darken(#aaa, 20%)

    a
      background-color: lighten(#8f8, 10%)
      border: 1px solid lighten(#6d6, 10%)

  a
    background-color: #8f8
    border: 1px solid #6d6

    &:active
      border: 1px solid #6d6

.stories td:last-child
  text-align: center
.stories td
  padding-top: 1em
.stories .ui-slider
  width: 12em
.stories .output
  width: 3em
  background: #eee
  border: 1px solid #ccc
  clear: left
  padding: 0
  font-size: 80%
  font-weight: bold
  text-align: center
  display: inline-block

.formset
  tr.errors
    td
      font-size: 80%
      padding: 0
      text-align: center

#save, #cancel
  margin: 1em
    top: 0
  font-family: sans-serif
  box-sizing: border-box
#save
  float: right
#cancel
  float: left

/* UI Additions */
.ui-state-default
  border: 1px solid #666666
  background: #555555
  font-weight: bold
  color: #eeeeee

.ui-state-hover
  border: 1px solid darken(#8f8, 20%)
  background: #8f8
  font-weight: bold
  color: #ffffff

.ui-state-active
  border: 1px solid darken(#3a3, 20%)
  background: #3a3
  font-weight: bold
  color: #ffffff

.ui-button
  display: inline-block
  position: relative
  padding: 0
  margin-right: .1em
  text-decoration: none !important
  font-size: 80%
  cursor: pointer
  text-align: center
  zoom: 1
  overflow: visible

#id_zone
  margin-right: 1em

#zoning
  display: none
  z-index: 10
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%

  #overlay
    width: 100%
    height: 100%
    background: black
    opacity: .8

  #bg
    z-index: 11
    left: 10%
    top: 10%
    width: 80%
    height: 80%
    position: absolute
    margin: 0 auto
    background: white
    border-radius: 1em
    text-align: center

  .zoneimgs
    position: relative
    height: 83%
    margin-bottom: 3em
    clear: both

  .zoneimg
    display: none
    height: 100%

  .fields
    clear: both
    text-align: center

    .slider
      width: 50%
      left: 25%
      margin-top: 10px

    button
      float: right
      margin-right: 1em
